<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwei.dao.BlogTypeDao">

    <resultMap id="BlogTypeResultMap" type="BlogType">
        <result column="id" property="id"/>
        <result column="type_name" property="typeName"/>
        <result column="order_no" property="orderNo"/>
    </resultMap>

    <select id="findAll" resultMap="BlogTypeResultMap">
        SELECT
            id,type_name
        FROM
            t_blogtype
    </select>

    <!-- 统计每个 type_name 有多少篇博文 -->
    <select id="countList" resultMap="BlogTypeResultMap">
        SELECT
          t1.id,
          t1.type_name,
          t1.order_no,
          COUNT(t2.id) AS blogCount
        FROM
          t_blogtype t1 LEFT JOIN t_blog t2 ON t1.id = t2.type_id
        GROUP BY t1.id
        ORDER BY t1.order_no
    </select>

    <select id="findById" parameterType="int" resultMap="BlogTypeResultMap">
        SELECT
            `id`,`type_name`,`order_no`
        FROM
            t_blogtype
        where id= #{id}
    </select>

    <select id="list" parameterType="map" resultMap="BlogTypeResultMap">
        SELECT id,type_name,order_no
        FROM t_blogtype
        <where>
            <if test="typeName != null and typeName !=''">
                type_name = #{typeName}
            </if>
            <if test="orderNo != null and orderNo !=''">
                order_no = #{orderNo}
            </if>
        </where>
        <if test="start!=null and pageSize !=null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="getTotal" parameterType="int" resultType="long">
        SELECT count(id)
        FROM t_blogtype
        <where>
            <if test="typeName != null and typeName !=''">
                type_name = #{typeName}
            </if>
            <if test="orderNo != null and orderNo !=''">
                order_no = #{orderNo}
            </if>
        </where>
    </select>

    <!-- 无须声明返回值类型 -->
    <insert id="add" parameterType="BlogType">
        insert into t_blogtype(type_name,order_no)
        values(#{typeName},#{orderNo})
    </insert>

    <!-- 无须声明返回值类型 -->
    <update id="update" parameterType="BlogType">
        update t_blogtype
        <set>
            <if test="typeName != null">type_name=#{typeName},</if>
            <if test="orderNo != null">order_no=#{orderNo},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 无须声明返回值类型 -->
    <delete id="delete" parameterType="int">
        delete from t_blogtype where id = #{id}
    </delete>

    <delete id="deleteList" parameterType="list">
        delete from t_blogtype where id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>