<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwei.dao.BlogDao">

    <resultMap id="BlogResult" type="Blog">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="releaseDate" column="release_date"/>
        <result property="clickHit" column="click_hit"/>
        <result property="replyHit" column="reply_hit"/>
        <result property="content" column="content"/>
        <result property="keyword" column="key_word"/>
        <!-- 【重要】所有的查询都成为了关联查询 -->
        <association property="blogType" column="type_id"
                     select="com.liwei.dao.BlogTypeDao.findById"></association>
    </resultMap>

    <!-- 根据年份月份分组查询博客数量 todo 看看这种写法能不能优化一下 -->
    <select id="countList" resultMap="BlogResult">
        SELECT
            DATE_FORMAT(release_date,'%Y%m') AS releaseDateStr,
            COUNT(DATE_FORMAT(release_date,'%Y%m')) AS blogCount
        FROM
            t_blog
        GROUP BY releaseDateStr
        ORDER BY releaseDateStr DESC
    </select>

    <!-- 根据主键 id 查询 Blog 实体 -->
    <select id="findByBlogId" parameterType="int" resultMap="BlogResult">
        select
            id,title,summary,release_date,click_hit,reply_hit,
            content,type_id,key_word
        from t_blog
        where id = #{id}
    </select>

    <!-- 按照发布日期降序排序 -->
    <select id="list" parameterType="map" resultMap="BlogResult">
        select
            id,title,summary,release_date,click_hit,reply_hit,
            content,type_id,key_word
        from t_blog
        <where>
            <if test="type_id!=null and type_id!=''">
                type_id = #{type_id}
            </if>
            <if test="releaseDateStr!=null and releaseDateStr!=''">
                and DATE_FORMAT(release_date,'%Y%m')=#{releaseDateStr}
            </if>
        </where>
        order by release_date desc
        <if test="start!=null and pageSize!=null">
            limit ${start},${pageSize}
        </if>
    </select>

    <!-- 该节点的 SQL 是配合上面一句 SQL 设置分页而出现的 -->
    <select id="getTotal" parameterType="map" resultType="long">
        select count(*) from t_blog
        <where>
            <if test="type_id!=null and type_id!=''">
                type_id = #{type_id}
            </if>
            <if test="releaseDateStr!=null and releaseDateStr!=''">
                and DATE_FORMAT(release_date,'%Y%m')=#{releaseDateStr}
            </if>
        </where>
    </select>

    <update id="update" parameterType="Blog">
        UPDATE
            t_blog
        <set>
            <if test="clickHit !=null and clickHit!=0">
                click_hit = #{clickHit},
            </if>
            <if test="replyHit !=null and replyHit!=0">
                reply_hit = #{replyHit},
            </if>
            <if test="content !=null and content != ''">
                content = #{content},
            </if>
            <if test="summary != null">
                summary = #{summary},
            </if>
            <if test="keyword != null">
                key_word = #{keyword},
            </if>
            <if test="blogType.id != null">
                type_id = #{blogType.id},
            </if>
            <if test="releaseDate !=null">
                release_date = #{releaseDate}
            </if>
        </set>
        <where>
            <if test="id !=null and id!=''">
                id=#{id}
            </if>
        </where>
    </update>

    <!-- 根据当前博客文章的 id 获取上一篇博客实例 -->
    <select id="getPrevious" parameterType="int" resultMap="BlogResult">
        select
            id,title,summary,release_date,click_hit,reply_hit,
            content,type_id,key_word
        from t_blog
        where id &lt; #{id}
        order by id desc
        limit 1
    </select>

    <!-- 根据当前博客文章的 id 获取上一篇博客实例 -->
    <select id="getNext" parameterType="int" resultMap="BlogResult">
        select
        id,title,summary,release_date,click_hit,reply_hit,
        content,type_id,key_word
        from t_blog
        where id &gt; #{id}
        order by id
        limit 1
    </select>


    <insert id="add" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
        insert into t_blog(title,summary,release_date,click_hit,reply_hit,content,type_id,key_word)
        values (#{title},#{summary},now(),0,0,#{content},#{blogType.id},#{keyword})
    </insert>

    <!--
    参考资料：MyBatis中的批量删除操作 - 程序之乐 - ITeye技术网站  http://zhaohuihugh.iteye.com/blog/1184378
    -->
    <delete id="deleteBlogList" parameterType="java.util.List">
        DELETE FROM t_blog where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getBlogNumByTypeId" resultType="int" parameterType="int">
        select count(id) from t_blog where type_id = #{typeId}
    </select>




</mapper>