<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwei.dao.BloggerDao">

    <resultMap id="BloggerResult" type="Blogger">
        <result property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
        <result property="profile" column="profile"/>
        <result property="nickName" column="nickName"/>
        <result property="sign" column="sign"/>
        <result property="imageName" column="imageName"/>
    </resultMap>

    <select id="getByUserName" parameterType="String" resultMap="BloggerResult">
        SELECT
            id,userName,password,profile,nickName,sign,imageName FROM t_blogger
        WHERE
            userName = #{userName}
    </select>


    <!-- 查询博主信息（博主就一个人）
     没有参数，可以不声明参数的类型
     -->
    <select id="find"  resultMap="BloggerResult">
        select * from t_blogger where id = 1
    </select>

</mapper>